.carousel-item img{ /*ajustes do carrossel*/
    height: 800px;
    object-fit: cover;
}
.secTexto{
    position: relative;
    height: 600px;
    background-image: url("../imagens/imgAçores5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.Overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.95) 30%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

/* Conteúdo */
.Texto {               /* Alinhar o texto das Tradições */
  position: relative;
  max-width: 600px;
  padding: 60px;
  z-index: 1;
}

.Texto h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #1f2a44;
}

.Texto p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

.card{
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  border-radius: 20px;
}
.card-img-top{
  margin-top: 40px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
}

.card-text{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.row{
  gap:200px;
  justify-content: center;
}