.nav-left {
    display: flex;           /* coloca img e h1 na mesma linha */
    align-items: center;     /*centrar*/
    gap: 15px;               /* espaço entre imagem e título */
}

.nav-left h1 {
    font-family: 'Montserrat';
    font-size: 35px;
    margin: 0;               /* remove margem padrão do h1 */
}

.nav-right a{
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center; /*centrar*/
}

.carousel-item img{ /*ajustes do carrossel*/
    height: 900px;
    object-fit: cover;
}

.col-md-4{ /*texto dentro das caixas*/
    text-align: center;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}
.row img{ /*3 imagens*/
    border-radius: 10px; /*arredonda os cantos*/
}

.textoCaixas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(192, 203, 192, 0.6);
    padding: 10px 20px;
    width: 69%;
}

#footer{
    background-color: rgb(233, 219, 219, 0.2) ;
}