.nav-left {
    display: flex;           /* coloca img e h1 na mesma linha */
    align-items: center;     /*centrar*/
    gap: 15px;               /* espaço entre imagem e título */
}

.nav-left h1 {
    font-family: 'Montserrat';
    font-size: 35px;
    margin: 0;               /* remove margem padrão do h1 */
}

.nav-right a{
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center; /*centrar*/
}

.row{
    text-align: center;
    border: 2px solid black;
}

.carousel-item img{ /*ajustes do carrossel*/
    height: 900px;
    object-fit: cover;
}

